{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Qiqi's blog{% endblock %}

{% block content %}
    <!--blog context-->
    <div class="span9">
        <div class="hero-unit">
            <h1>王岩</h1>
            <div class="#like">
                <h3>喜欢传统文化</h3>
            </div>
            <hr>

            <div class="#work">
                <h3>现就职于深圳</h3>
            </div>
            <hr>

            <div class="contact">
                <h4>qq:258841679</h4>
                <h4>email:watsy0007#gmail.com</h4>
            </div>
        </div>
    </div>
{% endblock %}